.my-header {

    height: 40vh;
    background-image: url(../img/placeimg_1000_480_nature.jpg);
    
    background-size: cover;
    background-color: var(--blue);
    margin-bottom: 1rem;
}

#avatar {
    height: 40%;
    border-radius:50%;
    background-color: : #6f42cl;
    
    

}
#avatar-position{ 
   /* margin-left: 650px;
    margin-top: 100px;*/
    margin: auto;
   /* margin-right: auto;*/
}

.page-title {
    color: #ffffff;
}

.jambotron {
    background-color: #333;
    color: #eee;
}

.jambotron p {
    color: #eee;
}

p {
    /*color: var(--indigo);*/
   color: var( --gray-dark);
}

.my-div {
    background-color: :#abdde5;
    height: 250px;
    border: 2px solid black;
}

#container{
    
    width: 80vw;
   
}

article {
    /*height: 400px;*/
    overflow: hidden;
}



<----small -->
@media (max-width: 767.98px)
{
     width: 80vw;
}


<----Medium -->
@media (max-width: 991.98px) { ... }

<----Large -->
@media (max-width: 1199.98px) { ... }



<i class="fab fa-adn"></i> Article 1</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
            </div>
        </div>
    </div>


    <div class="container">
        <!-- Content here -->

        <div class="jambotron">
            <h1 class="display-1"></h1>
            <h1 class="display-2"></h1>
            <h1 class="display-3">heading</h1>
            <h1 class="display-4">heading</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis adipisci autem in vitae ullam porro laudantium, harum cumque cum incidunt ex, perspiciatis accusantium? Impedit obcaecati, veniam amet nemo voluptas unde.</p>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis adipisci autem in vitae ullam porro laudantium, harum cumque cum incidunt ex, perspiciatis accusantium? Impedit obcaecati, veniam amet nemo voluptas unde.</p>
    </div>