.jumbotron {

    height: 40vh;
    background-image: url(../img/placeimg_640_480_tech%202.jpg);
    filter: blur(1px);
    background-size: cover;
    margin-bottom: 1rem;
}


#navbarNav {

    background-color: var(--gray-dark);
}


#avatar {

    height: 20vh;
    border-radius: 50%;
    background-color: var(--gray-dark);
}

.page-title {

    color: var(--white);
}


p {
    color: var(--gray-dark);
}



#container {

    width: 80vw;
}

article {

    overflow: hidden;
}


#submitBtn {
    background-color: var(--gray);
}
